{% extends 'layout/basic.html' %}

{% load static %}
{% load index %}
{% block title %}
Ответы 
{% endblock %}

{% block main %}
<!-- <table class="table">
   <thead>
      <tr>
         <th scope="col">№</th>
         <th scope="col">Вопрос</th>
         <th scope="col">Ответ </th>
         <th>Фото</th>
      </tr>
   </thead>
   <tbody>
      {% for q in questions %}
      <tr>
         <th scope="row">{{ forloop.counter }}</th>
         <td>{{ q.question }}</td>
         
         <td>{{ answers|index:forloop.counter0 }}</td>
         <td><a href="/files/{{ photo }}" target="_blank" class="mt-2 btn btn-primary" style="background-color: rgb(233, 105, 36);"><i class="fas fa-external-link-square-alt"></i></a></td>
      </tr>
      {% endfor %}
   </tbody>
</table> -->

<div class="row">
   <div class="col-sm-12">
      <h3 class="my-3">{{ name }} {{ phone_number }}</h3>
      <div class="card-columns">
         <div class="card">
            <!-- <img src="/files/{{ photo }}" class="card-img-top" alt="#"> -->
            <div class="card-body">
               <h4 class="card-title">{{ date|date:"d.m.Y H:i" }}</h4>
               
               <p class="card-text">
                {{ text }} 
               </p>
               
               <a href="{% url 'statement_confirm' st_pk %}">
                   <button type="button" class="btn btn-outline-success mt-2 btn-with-icon" style="margin-bottom: 20px;"><i class="ri-heart-line"></i>Опубликовать</button>
               
               </a>
               
            </div>
         </div>
      </div>
   </div>
</div>
      


{% endblock %}