{% extends 'layout/basic.html' %}

{% load static %}

{% block title %}
Заявления
{% endblock %}

{% block main %}

<table id="datatable" class="table data-table table-striped table-bordered" >
    <thead>
       <tr>
          <th>№</th>
          <th>Имя</th>
          <th>Номер телефона</th>
          <th>Дата</th>
          <th>Посмотреть</th>
       </tr>
    </thead>
    <tbody>
        {% for l in list %}
       <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ l.answer.user.name }}</td>
            <td>{{ l.answer.user.phone }}</td>
            <td>{{ l.answer.date|date:"d/m/Y H:i" }}</td>


            <td>
                <!-- <button type="button" class="btn btn-primary mt-2" data-container="body" data-toggle="popover" data-placement="left" data-content="ewfewfe &#x0a>
                    <i class="fas fa-file-alt"></i>
                </button> -->
                <a onclick="card({{ l.answer|text_maker }}, '/files/{{ l.answer.photo }})'">click</a>
               <!-- <a class="mt-2 btn btn-primary" style="background-color: rgb(20, 100, 204);" href="{% url 'statement_answer' l.answer.pk %}" role="button"  data-toggle="tooltip" title="Текст"><i class="fas fa-file-alt"></i></a> -->
               <!-- <div class="tooltip bs-tooltip-top" role="tooltip">
                  <div class="arrow"></div>
                  <div class="tooltip-inner">Текст</div>
               </div> -->


            </td>
       </tr>
       {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}

