{% extends 'layout/basic.html' %}

{% load static %}
{% load functions %}

{% block title %}
Опубликовано
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'assets/css/my.css' %}">  
{% endblock %}


{% block main %}

<h4 class="font-weight-bold" style="margin-bottom: 30px;">Опубликовано</h4>

<table id="datatable" class="table data-table table-striped table-bordered" >
    <thead>
       <tr>
          <th>№</th>
          <th>ID</th>
          <th>Имя</th>
          <th>Номер телефона</th>
          <th>Дата</th>
          <th>Просмотры</th>
          <th>Ответы</th>
       </tr>
    </thead>
    <tbody>
        {% for l in list %}
       <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ l.pk }}</td>
            <td>{{ l.answer.user.name }}</td>
            <td>{{ l.answer.user.phone }}</td>
            <td>{{ l.answer.date|date:"d/m/Y H:i" }}</td>

            <td>{{ l.views }} <i class="fas fa-eye"></i></td>
            <td style=" text-align: center;">
                <!-- <button type="button" class="btn btn-primary mt-2" data-container="body" data-toggle="popover" data-placement="left" data-content="ewfewfe &#x0a>
                    <i class="fas fa-file-alt"></i>
                </button> -->
                
                <!-- <a href="#" id = "a"  class="btn btn-danger btn-flat bg-yellow" >click</a> -->
               <a class="mt-2 btn btn-primary" style="background-color: rgb(20, 100, 204);" onclick="create_card({{ l.answer|text_maker }}, '/files/{{ l.answer.photo }}')" role="button"  data-toggle="tooltip" title=""><i style="color: antiquewhite;" class="fas fa-file-alt"></i></a>
               <!-- <div class="tooltip bs-tooltip-top" role="tooltip">
                  <div class="arrow"></div>
                  <div class="tooltip-inner">Текст</div>
               </div> -->


            </td>
       </tr>
       {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>

function create_card(answers, photo) {
   var content = document.getElementsByClassName("content-page")[0];
   var parent = document.getElementsByClassName("col-lg-12")[0];

   var grey = document.createElement("div");
   grey.setAttribute("class", "grey");
   grey.addEventListener("click", remove)

   var card_content = document.createElement("div");
   card_content.setAttribute("class", "card-content")

   var card_columns = document.createElement("div");
   card_columns.setAttribute("class", "card-columns answer_card");
   
   function remove() {
      var parent = document.getElementsByClassName("col-lg-12")[0];
      var card_columns = document.getElementsByClassName("card-content")[0];
      parent.removeChild(card_columns);

      var content = document.getElementsByClassName("content-page")[0];
      var grey = document.getElementsByClassName("grey")[0];
      content.removeChild(grey);
   }

   
   var x = document.createElement("div");
   x.setAttribute("class", "x");
   x.addEventListener("click", remove);
   i = document.createElement("i");
   i.setAttribute("class", "far fa-circle i");
   x.appendChild(i);


   card = document.createElement("div");
   card.setAttribute("class", "card");

   img = document.createElement("img");
   img.setAttribute("class", "card-img-top");
   img.setAttribute("src", photo);

   card_body = document.createElement("div");
   card_body.setAttribute("class", "card-body");

   for (var i = 0; i < answers.length; i++) {
      var p = document.createElement("p");
      p.setAttribute("class", "card-text");
      text = document.createTextNode(answers[i]);
      p.appendChild(text);
      card_body.appendChild(p);
   }

   card.appendChild(img);
   card.appendChild(card_body);
   card_columns.appendChild(card);
   // card_columns.appendChild(x);
   card_content.appendChild(card_columns)
   parent.appendChild(card_content);
   content.appendChild(grey);
}
   
</script>
{% endblock %}

