.env
db.sqlite3
app/__pycache__
app/migrations
app/views/__pycache__
app/templatetags/__pycache__
views/__init__.py
bot/__pycache__
scheduled_job/__pycache__
repost/__pycache__
repost/__init__.py
staticfiles
files/photos/*
files/payment/*
files/messages/*
persistencebot
.gitone
.gittwo
.git1
.git2
__pycache__
