{% extends 'layout/basic.html' %}

{% load static %}

{% block title %}
Добавить вопрос
{% endblock %}

{% block main %}

<form method = "post" enctype="multipart/form-data">

    {% csrf_token %}
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="id_questionuz">Вопрос на Узбекском</label>
                <textarea class="form-control" id="id_questionuz" name="questionuz" rows="3" style="width: 700px;"></textarea>
            </div>
        </div>    
        <div class="col">
            <div class="form-group">
                <label for="id_questionru">Вопрос на Русском</label>
                <textarea class="form-control" id="id_questionru" name="questionru" rows="3" style="width: 700px;"></textarea>
            </div>
        </div>    

    </div>
    <div class="row">

        <div class="col">
            <div class="form-group">
                <label for="id_variantsuz">Варианты на Узбекском</label>
                <input type="text" id="id_variantsuz" name="variantsuz" class="form-control" placeholder="variant1//variants2//variant3">
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="id_variantsru">Варианты на Русском</label>
                <input type="text" id="id_variantsru" name="variantsru" class="form-control" placeholder="variant1//variants2//variant3">
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="id_index">Индекс</label>
                <input type="number" name="index" class="form-control form-control-sm" id="id_index" placeholder="порядок">
            
            </div>
        </div>
        <div class="col">
            <div class="form-group">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="custom-control custom-switch custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="id_req_photo" name="req_photo" checked="">
                    <label class="custom-control-label" for="id_req_photo">Ответ должен содержать с фотографиям</label>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}